<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link rel="stylesheet" href="styles/style.css" />
    <title>EquiTask</title>
  </head>
  <body
    class="mx-2"
    hx-trigger="load"
    hx-get="home.html"
    hx-target="#content"
    hx-swap="innerHTML transition:true"
  >
    <section id="buttonContainer">
      <div class="buttons is-flex is-justify-content-space-between mb-4 mx-2">
        <button
          class="button is-primary is-light"
          hx-target="#content"
          hx-get="addTask.html"
          hx-swap="innerHTML transition:true"
        >
          Add Task
        </button>
        <button
          class="button is-info is-light"
          hx-target="#content"
          hx-get="home.html"
          hx-swap="innerHTML transition:true"
        >
          Home
        </button>
        <button
          class="button is-warning is-light"
          hx-target="#content"
          hx-get="distribute.html"
          hx-swap="innerHTML transition:true"
        >
          Spread Tasks
        </button>
      </div>
    </section>
    <section id="content" class="slide-it">
      <!-- Content will go in here -->
    </section>
  </body>
  <script src="scripts/task.js"></script>
  <script src="scripts/day.js"></script>
  <script src="scripts/utils.js"></script>
  <script
    src="https://unpkg.com/htmx.org@1.9.10"
    integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
    crossorigin="anonymous"
  ></script>
</html>
